@import '../variables.scss';

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardHeader {
  background-color: $main-text;
  border: solid 4px $main-shadow;
  color: $main-color;
  height: auto;
  margin: 2%;
  padding: 2%;
  width: 21%;
}

.cardHeader button {
  height: 20px;
  width: 100%;
}

.cardHeader h2 {
  margin: 3%;
  padding: 2%;
}

.cardHeader p {
  margin: 3%;
  padding: 2%;
}

.active:hover {
  background-color: $main-shadow;
}