@import '../variables.scss';

.cardContainer {
  display: inline;
}

.cardHeader {
  display: inline-grid;
  margin: 2%;
  border: solid 4px #ffd701;
  padding: 2%;
  background-color: black;
  color: white;
  width: 18%;
  height: 480px;
}

.cardHeader h2 {
  padding: 2%;
  margin: 3%;
}

.cardHeader p {
  padding: 2%;
  margin: 3%;
}


.active:hover {
  background-color: gold;
}