@import '../variables.scss';

.controls {
  align-items: center;
  margin-left: 20%;
}

.controls input {
  background-color: $main-shadow;
  border: 2px $main-color solid;
  color: $main-text;
  font-size: 2em;
  height: 50px;
  margin-left: 4%;
  opacity: 0.8;
  width: 250px;
}