@import '../variables.scss';

.errorContainer {
  text-shadow: $main-shadow 1px 1px;
  display: flex;
  justify-content: space-evenly;
  margin: 3% 0;
  line-height: 30px;
}

.errorContainer p {
  font-size: 2em;
}