@import '../variables.scss';

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  color: $main-color;
  font-size: 5em;
  margin: 16px;
  text-align: center;
  text-shadow: $main-shadow 2px 1px;
}

.favBtn {
  background-color: $main-shadow;
  border: 2px $main-color solid;
  color: #000;
  font-size: 1em;
  height: 30px;
  margin-top: 6%;
  opacity: 0.8;
  text-align: center;
  width: 19%;
}