@import '../variables.scss';

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 5em;
  text-align: center;
  color: $main-color;
  text-shadow: $main-shadow 2px 1px;
  margin: 16px;
}


.favBtn {
  background-color: gold;
  text-align: center;
  border: 2px white solid;
  color: #000;
  width: 19%;
  height: 50px;
  margin-top: 6%;
  font-size: 1.5em;
  opacity: 0.8;
}