@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $main-text;
  background-image: url(Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $main-color;
  font-family: 'Kanit', sans-serif;
  margin: 5%;
  padding: 0;
}